

{{#each userPosts}}
<div class="posts">
<h2>{{title}}</h2>
<p class="info">uploaded on {{date_created}}</p>

<form method="get" action="deletepost{{id}}">
  <button class="button" type="submit" name="submit_param" value="submit_value" class="link-button">
  delete
  </button>
</form>

<form method="get" action="updatepost{{id}}">
  <button  class="button" type="submit" name="submit_param" value="submit_value" class="link-button">
  update 
  </button>
</form>

</div>
{{/each}}


<a id="create-new" href="newpost"> create post </a>

