<div class="signform">

<p>New here? <a class="signup-button" href="signup">Signup!</a></p>

<form action="/login" method="POST">
  <label for="uname">Username</label>
  <input type="text" id="uname" name="username"><br><br>
  <label for="pass">Password</label>
  <input type="password" id="pass" name="password"><br><br>
  <input class="button" type="submit" value="Login">
</form>
{{message}}
</div>