<content>


<form action="/signup" method="POST">
  <label for="uname">Username</label>
  <input type="text" id="uname" name="username"><br><br>
  <label for="pass">Password</label>
  <input type="password" id="pass" name="password"
           minlength="8" required><br><br>
  <input type="submit" value="Signup">
</form>


</content>