<div class="signform"></div>

<form action="/updatepost{{id}}" method="POST">
      <div class="updatepost">
          <textarea id="title" name="title">{{title}}</textarea>

        <textarea id="description" name="description" >{{description}}</textarea>

      </div>
      <input class="button" type="submit" value="update post">
</form>      
</div>